* {
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
	background-color: #fbdd9d;
}

.container {
	width: 100%;
	margin: 0;
}

a.navbar-brand {
	font-size: 1.8em;
}

a.nav-link {
	text-align: center;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
background-color: #fff;
color: #333;
}

h1 {
	padding: 5px;
	font-family: "Courier New", Courier, monospace;
}

body {
	position: relative;
	background-color: #e9bf59;
}


div {
	padding: 5px;
	opacity: 150%;
}

footer {
	text-align: center;
}

#Home {
	width: 100px;
	text-align: center;
	background-color: #e9bf59;
	border-radius: 7px;
	border-bottom: 20px;
}

#Home:hover {
	background-color: #4f4e28;
}

img {
	width: 75%;
	padding: 10px;
}

#Maand {
	margin: 20px;
	padding: 10px;
	border-radius: 7px;
	background-color: #4a5e26;
	width: 110px;
	color: white;
	float: left;
}

.nav-item {
	border: 1px solid black;

	margin: 2px;
}
